* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    height: 90px;
    width: 100%;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}

.reset-btn {
    padding: 8px 16px;
    border-radius: 50px;
    align-self: center;
}
.type-box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sketch {
    display: flex;
    justify-content: space-between;
}

/* the actual grid */
.grid-container {
    display: grid;
    width: 960px;
    margin: 0 auto;
    outline: 3px solid black;
}
.grid-item {
    background-color: #eee;
    min-height: 20px;
    padding: 2px;
}

/* Footer */
footer {
    height: 90px;
    width: 100%;
    background: red;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.btn {
    padding: 8px 16px;
    border-radius: 50px;
}

@media (max-width: 960px) {
    .grid-container {
        width: 50vw;
    }
}